Options -Indexes
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9_\-]+)$						controllers/__setup__.php?controller=$1&action=index	[NC,L,QSA]
RewriteRule ^([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)$	controllers/__setup__.php?controller=$1&action=$2		[NC,L,QSA]
RewriteRule ^$										home/index												[NC,L,QSA]