body  {
	width: 100%;
	background: #deeeff;
	font-family: arial;
	font-size: 0.9em;
}

a {
	text-decoration: none;
	color: black;
}


#main {
	margin: 0 auto;
	width: 900px;
}

.box, .WigbiUIPlugin {
	margin-bottom: 10px;
	padding: 5px;
	background: white;
	text-align: center;
}

.box h1 {
	background: white;
	font-size: 1.8em;
	text-align: center;
}

.box.toolbar {
	background: black;
	color: white;
	font-size: 1.3em;
}

.box.toolbar a {
	color: white;
}




.WigbiUIPlugin {
	margin-bottom: 10px;
	background: #eee;
	text-align: left;
}

.box .add, .box .prop {
	background: #ddd;
	padding: 7px;
}

.box .prop { float: left; }
.box .add { float: right; }


.fc:after, .boxGroup:after { content:".";clear:both;display:block;visibility:hidden;height:0; }
* html .fc, * html .boxGroup { height:1px; }